.color-grid{
    width: 120px;
    height: 140px;
    display:flex;
    flex-direction: column;
    align-content: space-around;
}

.color-grid .colorRow{
    display:flex;
    justify-content: space-around;
    margin-top:10px;
    width:230px;
  }
  
  .color-grid .colorRow  div{
    width:50px;
    height:50px;
  }
  
  #themeRed{
      background-color:#ff0000;

  }

  #themeBlue{
    background-color: #0000ff;
}

#themeGreen{
    background-color: #00ff00;
}

#themeMustard{
    background-color: #ffdb58;
}

#themeSalmon{
    background-color: #FFA07A;
}

#themePurple{
    background-color: #5b00d3;
}

#themeCyan{
    background-color: #00FFFF;
}

#themePink{
    background-color:#ffc0cb;
}

.color-tile{
    height: 4rem;
    width: 4rem;
    background: teal;
}
.color-tile input{
    display: none;
}